svg {
  display: block;
  margin: 0 auto;
}

#range-input {
  width: 25%;
  height: 14px;
  cursor: pointer;
  background: #529de1;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555c;
  /* border-color: transparent; */
  /* color: transparent; */
  margin-top: 2px;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  border: 4px solid yellowgreen;
  background-color: yellow;
  padding: 10px;
  border-radius: 8px;
}

.tooltip p {
  margin: 2px;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: yellow;
  bottom: -24px;
  margin-left: -4px;
}
